:root {
    --main: #156064;
    --accent: #26C485;
    --accentRGB: rgb(38, 196, 133, 0.5);
    --off: #DDD1C7;
    --required: rgb(243, 89, 89);
    --red: rgb(243, 89, 89);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    /* margin: 0; */
}

.app {
    height: 100%;
    display: grid;
    grid-template-rows: 45px 1fr;
    grid-template-columns: auto 1fr;
}

header {
    box-shadow: 0 2px 5px rgba(0, 0, 0, .16);
    grid-column: 1 / -1;
    
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--main);
}

aside {
    background-color: var(--off);
    grid-row: 2;
    grid-column: 1;
    width: 300px;
    padding: 20px;
}

@media (max-width: 992px) {
    aside {
        width: 180px;
    }
}

aside section {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.newTasks,
.filter {
    color: var(--main);
}

.newTasks h2,
.filter h2 {
    text-align: center;
}

.newTasks input, select, button {
    display: block;
    width: 100%;
    outline: none;
}

.newTasks label,
.filter label {
    font-weight: bold;
    font-size: 18px;
}

.newTasks input, select {
    padding: 5px;
    outline: none;
    border: none;
}

.newTasks input:focus,
.newTasks select:focus,
.filter select:focus {
    background-color: var(--accentRGB);
}

.newTasks button,
.filter button {
    background-color: var(--accent);
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    margin-top: 10px;
}

.newTasks .removeCategoryBtn,
.filter .resetFilterBtn {
    background-color: var(--red);
}

.newTasks button:hover,
.filter button:hover {
    cursor: pointer;
    transform: scale(0.95);
}

.filter h2 {
    padding-top: 20px;
}

main {
    padding: 25px 25px;

    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 20px;
}

.task {
    border: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

    width: 250px;
    height: 280px;
}

.task .meta {
    display: flex;
    gap: 20px;
    color: var(--main);
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 225px;
}

.task .taskTitle,
.task .taskDescription {
    padding: 10px 0px;
}

.task .taskTitle {
    font-size: 16px;
}

.taskBtns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    padding: 10px;
}

.task .taskDescription {
    width: 225px;
    height:165px;
}

.taskCompleteBtn,
.taskDeleteBtn {
    padding: 5px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 14px;
    background-color: var(--accent);
}

.taskDeleteBtn {
    background-color: var(--red);
}

.taskCompleteBtn:hover,
.taskDeleteBtn:hover {
    cursor: pointer;
    transform: scale(0.95);
}