:root {
    --main: #156064;
    --accent: #26C485;
    --off: #DDD1C7;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

.app {
    height: 100%;
    display: grid;
    grid-template-rows: 45px 1fr;
    grid-template-columns: auto 1fr;
}

header {
    box-shadow: 0 2px 5px rgba(0, 0, 0, .16);
    grid-column: 1 / -1;
    
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--main);
}

aside {
    background-color: var(--off);
    grid-row: 2;
    grid-column: 1;
    width: 300px;
    padding: 20px;
}

@media (max-width: 992px) {
    aside {
        width: 180px;
    }
}

.newTasks {
    color: var(--main);
}

.newTasks h2 {
    text-align: center;
}

.newTasks input, select, button {
    display: block;
    width: 100%;
    outline: none;
}

.newTasks label {
    font-weight: bold;
    font-size: 18px;
}

.newTasks input, select {
    padding: 5px;
}

.newTasks button {
    background-color: var(--accent);
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    margin-top: 10px;
}

.newTasks button:hover {
    cursor: pointer;
    transform: scale(0.95);
}

.filter {
    color: var(--main);
}

.filter h2 {
    padding-top: 20px;
    text-align: center;
}

.filter label {
    font-weight: bold;
    font-size: 18px;
}