:root {
    --main: #156064;
    --accent: #26C485;
    --accentRGB: rgb(38, 196, 133, 0.5);
    --off: #DDD1C7;
    --required: rgb(243, 89, 89);
    --red: rgb(243, 89, 89);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.app {
    height: 100%;
    display: grid;
    grid-template-rows: 45px 1fr;
    grid-template-columns: auto 1fr;
}

header {
    box-shadow: 0 2px 5px rgba(0, 0, 0, .16);
    grid-column: 1 / -1;
    
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--main);
}

aside {
    background-color: var(--off);
    grid-row: 2;
    grid-column: 1;
    width: 300px;
    padding: 20px;
}

@media (max-width: 992px) {
    aside {
        width: 180px;
    }
}

aside section {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.newTasks,
.filter,
.taskModal {
    color: var(--main);
}

.newTasks h2,
.filter h2 {
    text-align: center;
}

.newTasks input, select, button {
    display: block;
    width: 100%;
    outline: none;
}

.newTasks label,
.filter label,
.taskModal {
    font-weight: bold;
    font-size: 18px;
}

.newTasks input, select {
    padding: 5px;
    outline: none;
    border: none;
    border-radius: 8px;
}

.newTasks input:focus,
.newTasks select:focus,
.filter select:focus {
    background-color: var(--accentRGB);
}

.newTasks button,
.filter button {
    background-color: var(--accent);
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    margin-top: 10px;
}

.newTasks #manageCategoryBtn,
.newTasks #hideCompleteBtn {
    background-color: var(--main);
    color: var(--off);
}

.filter .resetFilterBtn {
    background-color: var(--red);
}

.newTasks button:hover,
.filter button:hover {
    cursor: pointer;
    transform: scale(0.95);
}

.filter h2 {
    padding-top: 20px;
}

main {
    padding: 25px 25px;

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.task {
    border: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);

    width: 250px;
    height: 280px;
    transition: 500ms;
}

.task:hover {
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
    transition: 500ms;
}

.task .meta {
    display: flex;
    gap: 20px;
    color: var(--main);
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 225px;
}

.task .taskTitle,
.task .taskDescription {
    padding: 10px 0px;
}

.task .taskTitle {
    font-size: 16px;
}

.taskBtns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    padding: 10px;
}

.task .taskDescription {
    width: 225px;
    height:165px;
    overflow: hidden;
}

.taskCompleteBtn,
.taskDeleteBtn,
.taskEditBtn {
    padding: 5px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 14px;
    background-color: var(--accent);
}

.taskDeleteBtn {
    background-color: var(--red);
}

.taskEditBtn {
    background-color: var(--main);
    color: var(--off);
}

.taskCompleteBtn:hover,
.taskDeleteBtn:hover,
.taskEditBtn:hover {
    cursor: pointer;
    transform: scale(0.95);
}

.github {
    position: fixed;
    bottom: 10px;
    left: 80px;

    width: 125px;
    background-color: black;
    color: #fafafa;
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 8px;
}

.github:hover {
    transform: scale(0.95);
    cursor: pointer;
}

/* JS */

.hideTask {
    display: none;
}

.hideByCategory {
    display: none;
}

.hideByPriority {
    display: none;
}

/* Modals */

.overlay {
    background-color: var(--accentRGB);
    backdrop-filter: blur(3px);
    z-index: 1;
}

.catModal,
.taskModal {
    background-color: var(--off);
    padding: 25px;
    margin: 0;
    z-index: 2;

    grid-row: 2;
    grid-column: 1;
    width: 300px;
    padding: 20px;
}

@media (max-width: 992px) {
    .catModal {
        width: 180px;
    }

    .taskModal {
        width: 180px;
    }

    .github {
        left: 25px;
    }
}

.catModal h2,
.taskModal h2 {
    color: var(--main);
    padding: 10px;
    margin: 0;
    text-align: center;
}

.catModal input,
.taskModal input {
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 8px;
}

.catModal input:focus,
.taskModal input:focus {
    outline: none;
}

.catModal button,
.taskModal button {
    margin-top: 10px;
    padding: 5px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    font-size: 18px;
    background-color: var(--accent);
}

.catModal button:hover,
.taskModal button:hover {
    cursor: pointer;
    transform: scale(0.95);
}

.catModal .modalAddCategory {
    margin-bottom: 20px;
}

.catModal .removeCategoryBtn,
.taskModal .taskModalExitBtn {
    background-color: var(--red);
    margin-bottom: 20px;
}

.catModal .modalCloseCategoryMenu {
    background-color: var(--main);
    color: var(--off);
}

.taskModal {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.hidden {
    display: none;
}